HELP.md
target/
target/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

\target\classes\META-INF\maven\com.example\caliber2-e2e\pom.properties
*.json
!EndpointTests.json
*.html
*.exe
target/classes/META-INF/MANIFEST.MF
dependency-reduced-pom.xml
